<main>
    <section>
      <p>
        This project was made by Kio McLoughlin, a Front End Web Development course student at General Assembly at London, and refactored by Pedro Martin, teacher assistant of the same course.
        <br>
        <br>
        The folowing acknowledges are from Kio.
      </p>
      <p>
        Thanks to the following people and groups, who have provided much of the inspiration, content and tools that are in this site.
      </p>
    <ul>
      <li>Roman Mars & 99% Invisible</li>
      <li>North American Vexillogical Association</li>
      <li>General Assembly</li>
    </section>
</main>
