<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Good Flag Layout</title>
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </head>
  <body>
    <h1>Layout</h1>
    <%- body %>

  </body>
</html>
