<main class="quiz-feature clearfix">
  <section id="render-flag" class="render-flag">
    <h2 id="where" class="where-button">Where?</h2>
    <h1 id="flag-name"></h1>
    <img id="flag-img" src="" alt="" />
    <br>
    <div class="quiz-btns">
      <a href="#" class="js-quiz-evaluation-btn quiz-btn" id="bad-flag">Bad Flag ✘</a>
      <a href="#" class="js-quiz-evaluation-btn quiz-btn" id="good-flag">Good Flag ✔</a>
    </div>
    <div class="render-where clearfix" id="render-where">
      <span id="close-map" class="close-map">X</span>
      <iframe src="" width= 100% height= 100% frameborder="0" style="border:0" allowfullscreen class="where" id="iframe-where"></iframe>
    </div>
    <div class="render-answer">
      <h2 id=render-answer></h2>
    </div>
    <div id="render-score" class="render-score">
      <p>
        Score <span id="score"></span> / <span id="tries"></span>
      </p>
    </div>
  </section>
</main>


<script type="text/javascript" src="scripts/quiz.js"></script>
