<main>
  <section id="render-flag">
    <span id="where">Where?</span>
    <a href="#" class="js-quiz-evaluation-btn" id="good-flag">Good Flag ✔</a>
    <a href="#" class="js-quiz-evaluation-btn" id="bad-flag">Bad Flag ✘</a>
    <div id="render-where"></div>
    <div id="render-answer"></div>
    <div id="render-score">
      <p>
        Score <span id="score"></span> / <span id="tries"></span> 
      </p>
    </div>
  </section>
</main>


<script type="text/javascript" src="scripts/quiz.js"></script>
