<main>
  <section>
    <p>
      If you found learning about flag design even *remotely* enjoyable, you should check out the talk that’s inspired this site. I’ve included the talk below, and a SoundCloud link to all the great back episodes of the ever-entertaining “99% Invisible”, from Roman Mars.
    </p>
  </section>

  <section>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pnv5iKB2hl4" frameborder="0" allowfullscreen></iframe>

		<iframe width="560" height="315" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/5539303&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </section>
</main>
