//Fonts
$bodyFont: 'Fira Sans', sans-serif;

//Variables:
$mainFontColor: white;
$mainBoxShadow: 0.5em 0.5em rgba(0, 0, 0, 0.65);
// Main attributes for all page

* {
  box-sizing: border-box;
}

body {
  font-family: $bodyFont;
  color: $mainFontColor;
  height:100%;
  width: 100%;
  font-size: 16px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}
p {
  font-size: 1.2rem;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: $mainFontColor;
  &:hover {
    text-decoration: none;
  }
}

// template
.btn {
  padding: .4em;
  border: 1px solid;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  article {
    width:90%;
    margin: 0 auto;
    padding: 2em;
    box-shadow: 1em 1em rgba(0, 0, 0, 0.65);
  }
}

//Utils

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
​
.clearfix:after {
    clear: both;
}

@media ( min-width: 769px)  and (max-width: 992px){
  body, html {
    font-size: 16px;
  }
}

@media (min-width: 993px ) {
  body, html {
    font-size: 18px;
  }
}

@import 'nav';
@import 'root';
@import 'quiz';
@import 'watch';
@import 'about';
