$mainBoxShadow: 0.5em 0.5em rgba(0, 0, 0, 0.65);
.quiz-feature {
  background-color: rgba(96, 125, 139, 1.0);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  section{
    width:90%;
    position: relative;
    margin: 4em auto 0;
  }

  img {
    height: 45vh;
    display: block;
    margin: 0 auto;
  }

  h1 {
    font-weight: bold;
    text-align: center;
    box-shadow: $mainBoxShadow;
  }
}

.where-button{
  font-size: 1.5rem;
  line-height: 0;
  text-align: right;
  font-weight: lighter;
  text-decoration: underline;
}

.quiz-btns {
   text-align: center;
}

.quiz-btn {
  padding: .8em 5em;
  margin: 0 .25em;

  &:first-child{
    background-color: rgba(244, 67, 54, 1.0);
  }

  &:last-child{
    background-color: rgba(76, 175, 80, 1.0);
  }
}

.render-where {
  position: absolute;
  top: 15.3vh;
  left: 2vw;
  width: 98.8%;
  height: 52%;
  box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.65);
  display:none;

  span {
    float:right;
    font-size: 1rem;
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: center;
  }
}

.render-where.on{
  display: initial;
}

.render-answer {
  text-align: center;
  height: 1.5em;
}

.render-score{
  p {
    float: right;
    font-style: italic;
    font-weight: 100;
    font-size: 1.2em;
  }
}
