.intro-1 {
  background-color: #FF9800;

  article {
    background-color: #F44336;

    blockquote {
      border-right: .5em solid #FF9800;
      border-bottom: .5em solid #FF9800;
      box-shadow: .5em .5em rgba(0, 0, 0, 0.65);
      font-weight: 500;
      font-size: 2em;
      padding: .2em;
    }

    span {
      text-align: center;
      display: block;
    }
  }
}

.intro-2{
  background-color: rgba(205, 220, 57, 1.0);

  article {
    background-color: rgba(0, 150, 136, 1.0);
  }
}

.intro-3 {
  background-color: rgba(255, 64, 129, 1.0);

  article {
    background-color: rgba(96, 125, 139, 1.0);
  }
}

.principle {
  span {
    font-size: 10rem;
    font-weight: bold;
    float: left;
    line-height: 1em;
    padding-right: .2em;
    text-shadow: .12em .12em rgba(0,0,0,0.65);
  }
  h1 {
    line-height: 0;
  }
}

.principle-1 {
  background-color: rgba(83, 109, 254, 1.0);

  article {
    background-color: rgba(255, 193, 7, 1.0);
  }
}

.principle-2 {
  background-color: rgba(124, 77, 255, 1.0);

  article {
    background-color: rgba(76, 175, 80, 1.0);
  }
}

.principle-3 {
  background-color: rgba(83, 109, 254, 1.0);

  article {
    background-color: rgba(255, 87, 34, 1.0);
  }
}

.principle-4 {
  background-color: rgba(255, 193, 7, 1.0);

  article {
    background-color: rgba(103, 58, 183, 1.0);
  }
}

.principle-5 {
  background-color: rgba(96, 125, 139, 1.0);

  article {
    background-color: rgba(139, 195, 74, 1.0);
  }
}

.conclusion-1 {
  background-color: rgba(255, 193, 7, 1.0);

  article {
    background-color: rgba(33, 150, 243, 1.0);
  }

  h2 {
    text-align: center;
  }

  li{
    font-size: 1.5rem;
  }
}
.conclusion-2 {
  background-color: rgba(244, 67, 54, 1.0);

  article {
    background-color: rgba(255, 87, 34, 1.0);
  }
}

.btn-quiz{
  text-align: center;
}
