<h1>New Principle</h1>

<form method="post" action="/principles">
  <label for="principle_title">Order</label><br>
  <input type="text" name="principle[order]" id="principle_order"><br>

  <label for="principle_title">Title</label><br>
  <input type="text" name="principle[title]" id="principle_title"><br>

  <label for="principle_subTitle">Sub Title</label><br>
  <input type="text" name="principle[subTitle]" id="principle_subTitle"><br>

  <label for="principle_explanation">Explanation</label><br>
  <textarea name="principle[explanation]"></textarea><br>

  <button>Create a new principle</button><br>
</form>
